## Kata 6 Crear y usar listas de Python.

In [5]:
planetas=['mercurio','venus','tierra','marte','jupiter','saturno','uranio','neptuno']
print('En total son ',len(planetas),'planetas en el sistema solar')

En total son  8 planetas en el sistema solar

In [7]:
planetas.append('pluton')
print('En total ahora son',len(planetas),'planetas en el sistema solar.')
print('el ultimo planeta del sistema solar es: ',planetas[-1])

En total ahora son 10 planetas en el sistema solar.
el ultimo planeta del sistema solar es:  pluton

### Ejercicio 2: Trabajando con datos de una lista

In [16]:
planetas=['Mercurio','Venus','Tierra','Marte','Jupiter','Saturno','Uranio','Neptuno']
print('Hola, este esta es una tabla de planetas')
print('Por favor, ingresa el nombre de un planeta del sistema solar. La primer letra debe ser en Mayuscula')
desconocido=input('Ingrese el nombre de su plaeta.')
print('El nombre que ustes escribio es:',desconocido)

Hola, este esta es una tabla de planetas
Por favor, ingresa el nombre de un planeta del sistema solar. La primer letra debe ser en Mayuscula
El nombre que ustes escribio es: Tierra

In [20]:
desconocido_index=planetas.index(desconocido)
print(desconocido,'es el platena numero ',desconocido_index+1,'del sistema solar')

Tierra es el platena numero  3 del sistema solar

In [19]:
print('Los planetas mas cercanos al sol de',desconocido,'son:')
print(planetas[0:desconocido_index])

Los planetas mas cercanos al sol de Tierra son:
['Mercurio', 'Venus']

In [21]:
print('Los planetas mas lejanos al sol de', desconocido,'son:')
print(planetas[desconocido_index+1:])

Los planetas mas lejanos al sol de Tierra son:
['Marte', 'Jupiter', 'Saturno', 'Uranio', 'Neptuno']